@charset "utf-8";
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #0288D1;
    overflow: hidden;
}
canvas{
    background-color: yellow;
}
